{% extends "base.html" %}

{% block nav %}

	<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="active">
                <a href="{% url 'profile' slug=user.username %}">
                  <b>{{ user.username }}</b>
                </a>
              </li>
              <li>
                <a href="{% url 'link_create' %}">Submit Link</a> 
              </li> 
              <li>
                <a href="{% url 'logout' %}">Logout</a>
              </li> 
            {% else %}
              <li>
                <a href="{% url 'registration_register' %}">Register</a>
              </li> 
              <li>
                <a href="{% url 'login' %}">Login</a>
              </li> 
            {% endif %}
          </ul>
        </div>

{% endblock %}


{% block content %}

	<h2>{{ object.username }}'s Profile</h2>
	
	{% if object.userprofile.bio %}
		<div>
			<b>Bio:</b>
			{{ object.userprofile.bio }}
		</div>
	{% endif %}

	{% if object.username == user.username %}
		<p><a href='{% url "edit_profile" %}'>Edit Profile</a></p>
	{% endif %}

	{% if "zodcat" in object.userprofile.bio %}
		<style>
			html {
				background: #EEE url("/static/img/zod.jpg");
			}
		</style>
	{% endif %}

{% endblock %}
